<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 center about-title">
      <h1 class="j-about">Fampとは</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="center j-about">
        Fampはあなたのやっている楽器や始めようと思っている楽器と同じ
      </p>
      <p class="center j-about">
        楽器をやっている人を探すことができます。
      </p>
      <p class="center j-about">
        自分で投稿して募集したり、気になる投稿を探してみましょう。
      </p>
      <p class="center j-about">
        コメントやダイレクトメッセージを送ることもできます。
      </p>
      <p class="center j-about">
        Fampで知り合った人と一緒に楽器を練習するもよし、バンドを組んで演奏するもよし、
      </p>
      <p class="center j-about">
        あなたの楽器仲間を探してみましょう。
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 center">
      <%= link_to "探しに行く",posts_path,class:"btn btn-default j-about" %>
    </div>
  </div>
</div>
