<table>
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>

  <% @posts.each do |post| %>

    <tbody>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </tbody>

  <% end %>
</table>
